<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditEtudiantsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditEtudiantsLabel_matricule}" for="matricule" />
                    <h:inputText id="matricule" value="#{etudiantsController.selected.matricule}" title="#{bundle.EditEtudiantsTitle_matricule}" required="true" requiredMessage="#{bundle.EditEtudiantsRequiredMessage_matricule}"/>
                    <h:outputLabel value="#{bundle.EditEtudiantsLabel_nom}" for="nom" />
                    <h:inputText id="nom" value="#{etudiantsController.selected.nom}" title="#{bundle.EditEtudiantsTitle_nom}" required="true" requiredMessage="#{bundle.EditEtudiantsRequiredMessage_nom}"/>
                    <h:outputLabel value="#{bundle.EditEtudiantsLabel_prenom}" for="prenom" />
                    <h:inputText id="prenom" value="#{etudiantsController.selected.prenom}" title="#{bundle.EditEtudiantsTitle_prenom}" required="true" requiredMessage="#{bundle.EditEtudiantsRequiredMessage_prenom}"/>
                    <h:outputLabel value="#{bundle.EditEtudiantsLabel_email}" for="email" />
                    <h:inputText id="email" value="#{etudiantsController.selected.email}" title="#{bundle.EditEtudiantsTitle_email}" required="true" requiredMessage="#{bundle.EditEtudiantsRequiredMessage_email}"/>
                    <h:outputLabel value="#{bundle.EditEtudiantsLabel_password}" for="password" />
                    <h:inputText id="password" value="#{etudiantsController.selected.password}" title="#{bundle.EditEtudiantsTitle_password}" required="true" requiredMessage="#{bundle.EditEtudiantsRequiredMessage_password}"/>
                    <h:outputLabel value="#{bundle.EditEtudiantsLabel_note}" for="note" />
                    <h:inputText id="note" value="#{etudiantsController.selected.note}" title="#{bundle.EditEtudiantsTitle_note}" />
                </h:panelGrid>
                <h:commandLink action="#{etudiantsController.update}" value="#{bundle.EditEtudiantsSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditEtudiantsViewLink}"/>
                <br />
                <h:commandLink action="#{etudiantsController.prepareList}" value="#{bundle.EditEtudiantsShowAllLink}" immediate="true"/>
                <br />
                <br />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
