<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewEtudiantsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewEtudiantsLabel_matricule}"/>
                    <h:outputText value="#{etudiantsController.selected.matricule}" title="#{bundle.ViewEtudiantsTitle_matricule}"/>
                    <h:outputText value="#{bundle.ViewEtudiantsLabel_nom}"/>
                    <h:outputText value="#{etudiantsController.selected.nom}" title="#{bundle.ViewEtudiantsTitle_nom}"/>
                    <h:outputText value="#{bundle.ViewEtudiantsLabel_prenom}"/>
                    <h:outputText value="#{etudiantsController.selected.prenom}" title="#{bundle.ViewEtudiantsTitle_prenom}"/>
                    <h:outputText value="#{bundle.ViewEtudiantsLabel_email}"/>
                    <h:outputText value="#{etudiantsController.selected.email}" title="#{bundle.ViewEtudiantsTitle_email}"/>
                    <h:outputText value="#{bundle.ViewEtudiantsLabel_password}"/>
                    <h:outputText value="#{etudiantsController.selected.password}" title="#{bundle.ViewEtudiantsTitle_password}"/>
                    <h:outputText value="#{bundle.ViewEtudiantsLabel_note}"/>
                    <h:outputText value="#{etudiantsController.selected.note}" title="#{bundle.ViewEtudiantsTitle_note}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{etudiantsController.destroyAndView}" value="#{bundle.ViewEtudiantsDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewEtudiantsEditLink}"/>
                <br />
                <h:commandLink action="#{etudiantsController.prepareCreate}" value="#{bundle.ViewEtudiantsCreateLink}" />
                <br />
                <h:commandLink action="#{etudiantsController.prepareList}" value="#{bundle.ViewEtudiantsShowAllLink}"/>
                <br />
                <br />

            </h:form>
        </ui:define>
    </ui:composition>

</html>
