<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditReponsesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditReponsesLabel_idReponse}" for="idReponse" />
                    <h:inputText id="idReponse" value="#{reponsesController.selected.idReponse}" title="#{bundle.EditReponsesTitle_idReponse}" required="true" requiredMessage="#{bundle.EditReponsesRequiredMessage_idReponse}"/>
                    <h:outputLabel value="#{bundle.EditReponsesLabel_idQuestion}" for="idQuestion" />
                    <h:inputText id="idQuestion" value="#{reponsesController.selected.idQuestion}" title="#{bundle.EditReponsesTitle_idQuestion}" required="true" requiredMessage="#{bundle.EditReponsesRequiredMessage_idQuestion}"/>
                    <h:outputLabel value="#{bundle.EditReponsesLabel_reponse}" for="reponse" />
                    <h:inputText id="reponse" value="#{reponsesController.selected.reponse}" title="#{bundle.EditReponsesTitle_reponse}" required="true" requiredMessage="#{bundle.EditReponsesRequiredMessage_reponse}"/>
                    <h:outputLabel value="#{bundle.EditReponsesLabel_isBonneReponse}" for="isBonneReponse" />
                    <h:inputText id="isBonneReponse" value="#{reponsesController.selected.isBonneReponse}" title="#{bundle.EditReponsesTitle_isBonneReponse}" required="true" requiredMessage="#{bundle.EditReponsesRequiredMessage_isBonneReponse}"/>
                </h:panelGrid>
                <h:commandLink action="#{reponsesController.update}" value="#{bundle.EditReponsesSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditReponsesViewLink}"/>
                <br />
                <h:commandLink action="#{reponsesController.prepareList}" value="#{bundle.EditReponsesShowAllLink}" immediate="true"/>
                <br />
                <br />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
