<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListReponsesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <p:dataTable value="#{reponsesController.items}" paginator="true" rows="10" var="item" style="border:solid 1px">
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListReponsesTitle_idReponse}"/>
                        </f:facet>
                        <h:outputText value="#{item.idReponse}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListReponsesTitle_idQuestion}"/>
                        </f:facet>
                        <h:outputText value="#{item.idQuestion}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListReponsesTitle_reponse}"/>
                        </f:facet>
                        <h:outputText value="#{item.reponse}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListReponsesTitle_isBonneReponse}"/>
                        </f:facet>
                        <h:outputText value="#{item.isBonneReponse}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="&nbsp;"/>
                        </f:facet>
                        <h:commandLink action="#{reponsesController.prepareView}" value="#{bundle.ListReponsesViewLink}"/>
                        <h:outputText value=" "/>
                        <h:commandLink action="#{reponsesController.prepareEdit}" value="#{bundle.ListReponsesEditLink}"/>
                        <h:outputText value=" "/>
                        <h:commandLink action="#{reponsesController.destroy}" value="#{bundle.ListReponsesDestroyLink}"/>
                    </p:column>
                </p:dataTable>
                <br />
                <h:commandLink action="#{reponsesController.prepareCreate}" value="#{bundle.ListReponsesCreateLink}"/>
                <br />
                <br />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
